body{
	font-family: "Consolas", "Monaco", "Lucida Console", "Courier New", Courier, monospace;
	background-color: rgb(19, 24, 36);
	color: white;
}

header {
	position: sticky;
	top: 0;
	z-index: 10000;
	background-color:  #131824;
}
header ul {
	padding: 10px;
	text-align: center;
	list-style-type: none;
}
header li {
	display: inline;
	margin-right: 10px;
}

main {
	width: 50%;
	margin: 0 auto;
}

footer {
	padding: 10px;
	text-align: center;
}

@media screen and (max-width: 768px){
	main {
		width: 100%;
	}
}



h1 {
	font-size: 2em;
}

a {
	color: skyblue;
	text-decoration: none;
}
a:hover {
	color: lightblue;
}

.site-button {
	background-color: #131824;
	color: white;
	padding: 5px;
}

.mini {
	font-size: 0.8em;
}

.center {
	text-align: center;
}

.emoji {
	width: 1em;
  	height: 1em;
  	object-fit: contain;
  	overflow: hidden;
}


.featured-img:hover {
	transform: scale(1.05);
	transition: transform 0.3s;
}

.featured-img {
	transition: transform 0.3s;
}


/* Markdown styles (by me) */

/*h1::before {
	content: "# ";
}
h2::before {
	content: "## ";
}
h3::before {
	content: "### ";
}*/

/* Italic text */
/*i::before, i::after, em::before, em::after {
	content: "*";
}*/

/* Bold text */
/*b::before, b::after, strong::before, strong::after {
	content: "**";
}*/

/* Deleted text */
/*s::before, s::after, del::before, del::after {
	content: "~~";
}*/

/* Highlighted text */
/*mark::before, mark::after {
	content: "==";
}*/

/* List style */
li {
	list-style-type: '- ';
}



.tooltip {
  border-bottom: 1px dashed #929292; /* tratteggiata */
  cursor: help;
  position: relative;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; /* sopra la parola */
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 0.3em 0.6em;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.85em;
  z-index: 10;
}

article p {
	text-align: justify;
}

