---
layout: "base.njk"
title: "Homepage"
---

{% for post in collections.blog | reverse %}
    <article>
        <div style="display: flex; align-items: center; gap: 1.5rem;">
            <div style="flex: 1;">
                <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
                <p class="mini">{{ post.data.excerpt }}</p>
                <p>Pubblicato il {{ post.date | date('dd/MM/yyyy') }}</p>
            </div>
            <div>
                <img src="{{ post.data.img.url | safe }}" alt="Immagine in evidenza" width="175" height="150" style="object-fit:contain;" class="featured-img">
            </div>
        </div>
    </article>
	<hr>
{% endfor %}
