---
title: Blog di GicoRada
layout: layouts/home.njk
description: Il blog personale di GicoRada. Questo blog è stato creato in occasione dell'esperienza Erasmus+ a Dublino.

date: Last Modified
---

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>